{% extends "index.html" %}

{% block title %}Registrierung{% endblock %}

{% block content %}
    <form action="{{ request.url_for('register') }}" method="post">
        <input title="email" type="email" name="email" placeholder="E-Mail" required>
        <input title="password" type="password" name="password" placeholder="Passwort" required>
        <input title="name" type="text" name="name" placeholder="Name" required>
        <button type="submit">Registrieren</button>
    </form>
{% endblock %}